<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>Add a new <br />note:</h2>
  </header>
  <form>
    <label for="note">Note</label>
    <input
      type="textarea"
      class="input"
      id="note"
      name="note"
      placeholder="Type your note"
    />
    <label for="category">Category</label>
    <input
      type="text"
      class="input"
      id="category"
      name="category"
      placeholder="Type the note category"
    />
    <label for="modelo">Select the card Model:</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="modelo1">
          <input type="radio" id="modelo1" value="modelo1" name="modelo-card" />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Model 1</span>
        </label>
        Prev:
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo1.png" alt="Aspas azuis" />
          <p class="conteudo"></p>
          <p class="autoria"></p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="modelo2">
          <input type="radio" id="modelo2" value="modelo2" name="modelo-card" />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Model 2</span>
        </label>
        Prev:
        <div class="modelo modelo2 ff-roboto-mono">
          <img
            src="../../../../assets/imagens/modelo2.png"
            alt="Aspas azul claro"
          />
          <p class="conteudo"></p>
          <p class="autoria"></p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="modelo3">
          <input type="radio" id="modelo3" value="modelo3" name="modelo-card" />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Model 3</span>
        </label>
        Prev:
        <div class="modelo modelo3 ff-roboto-mono">
          <img
            src="../../../../assets/imagens/modelo3.png"
            alt="Aspas verdes"
          />
          <p class="conteudo"></p>
          <p class="autoria"></p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <button class="botao">Save</button>
      <button class="botao">Cancel</button>
    </div>
  </form>
</section>
